<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="*" Name="FinalSetUp" Language="1033" Version="1.0.0.0" Manufacturer="HP" UpgradeCode="bb910ebb-34c4-4246-a666-1c2a59aae098">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

     <Icon Id="app_icon.ico" SourceFile="$(var.SolutionDir)finalSetUp\icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="app_icon.ico" />
		
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
    
    <WixVariable Id="WixUILicenseRtf" Value="eula.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="background.bmp" />
    
		<Feature Id="ProductFeature" Title="FinalSetUp" Level="1">
      <ComponentRef Id="MainApplication" />
      <ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="FinalSetUp" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
 
 <Fragment>
    <Component Id="MainApplication" Guid="45e4c239-d7ce-42a7-b1c7-d1d70375dcae" Directory="INSTALLFOLDER">
      <File KeyPath="yes" Id="MainExecutable" Source="$(var.SolutionDir)finalWPF\bin\Debug\finalWPF.exe" />
    </Component>
  </Fragment>
</Wix>